
.card__main{
    text-align: center;
    background-color: skyblue;
    width:400px;
    margin:25px;
    box-shadow: 22px 10px 22px -4px rgba(0,0,0,0.23);
    -webkit-box-shadow: 22px 10px 22px -4px rgba(0,0,0,0.23);
    -moz-box-shadow: 22px 10px 22px -4px rgba(0,0,0,0.23);
}